@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Change the scrollbar track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Change the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 6px;
}

@layer utilities {
  .box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .text-1 {
    @apply uppercase font-semibold
  }

  .btn-1 {
    @apply bg-red_0 text-white_0 rounded-lg p-2 hover:bg-red_1 w-max
  }

  .card {
    @apply p-5 rounded-lg bg-white_0 box-shadow
  }

  .card_1 {
    @apply p-5 rounded-lg bg-red_0 box-shadow text-white_0
  }
}
