@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Change the scrollbar track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Change the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(253, 239, 237) inset !important;
}


@layer utilities {
  .box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .text-1 {
    @apply uppercase font-semibold
  }

  .btn {
    @apply select-none cursor-pointer
  }

  .btn-teal {
    @apply bg-teal text-white rounded-lg p-2 w-max btn hover:bg-black
  }

  .btn-grey {
    @apply bg-grey text-white rounded-lg p-2 w-max btn hover:bg-teal
  }

  .card {
    @apply rounded-lg bg-white box-shadow
  }
  
  .card-teal {
    @apply rounded-lg bg-teal box-shadow text-white
  }
  
  .card-grey {
    @apply rounded-lg bg-grey box-shadow text-white
  }
  
  .card-black {
    @apply rounded-lg bg-black box-shadow text-white
  }
}

