@import "tailwindcss";

:root {
  --primary: 15, 111, 236;
  --background: 239, 242, 246;
  --surface: 255, 255, 255;
  --on-primary: 255, 255, 255;
  --on-background: 103, 106, 121;
  --on-surface: 103, 106, 121;
}

.dark {
  --primary: 15, 111, 236;
  --background: 18, 18, 18;
  --surface: 33, 33, 33;
  --on-primary: 217, 217, 217;
  --on-background: 217, 217, 217;
  --on-surface: 217, 217, 217;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Change the scrollbar track */
::-webkit-scrollbar-track {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Change the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(var(--primary));
  border-radius: 8px;
}

@theme inline {
  --color-primary: rgb(var(--primary));
  --color-background: rgb(var(--background));
  --color-surface: rgb(var(--surface));
  --color-onPrimary: rgb(var(--on-primary));
  --color-onBackground: rgb(var(--on-background));
  --color-onSurface: rgb(var(--on-surface));
}



@layer components {
  .card {
    @apply bg-surface text-onSurface shadow rounded-md p-5 max-sm:p-3;
  }

  .heading {
    @apply font-semibold text-gray-700 dark:text-gray-100;
  }
}
